<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title test
	link(rel="stylesheet", href="css/main.css")
	script(src="js/main.js")
body
	#react
	include include/header
	include include/footer
